<header data-ng-controller="HeaderCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="{{brandLink}}">{{headerResource.menuBrand}}</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="#">{{headerResource.menuHome}}</a></li>
                        <li><a href="#">{{headerResource.menuAbout}}</a></li>
                        <li><a href="#">{{headerResource.menuContact}}</a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{headerResource.menuMoreActions}}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">??Action??</a></li>

                                <li><a href="#">??Another action??</a></li>
                                <li><a href="#">??Something else here??</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">??Nav header??</li>
                                <li><a href="#">??Separated link??</a></li>
                                <li><a href="#">??One more separated link??</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="navbar-form pull-right">
                        <form action="">
                            <select data-ng-model="i18n.language" class="span2" data-ng-options="language.name for language in languages">
                            </select>
                            <input data-ng-model="query" type="text" class="search-query span2" placeholder={{headerResource.search}}>
                            <button class="btn" type="submit">{{headerResource.buttonSignIn}}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>